################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/ChiDouDou/ChiDouDou/Debug
/ChiDouDou/Debug
/ChiDouDou/.vs/ChiDouDou/v16
/.vs
/.vscode
